body {
    background-color: rgba(17, 36, 77, 1);
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.underline {
    font-weight: 700;
    text-decoration: underline #DD55C0 ;
}

.background {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.navbar {
    height: 64px;
    background: rgba(17, 36, 77, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 64px;
    border-bottom: solid 1px #DD55C0;
}

.navSide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 200px;
}

.navItem {
    height: fit-content;
}

.formRegister {
    width: fit-content;
    margin: 64px auto 0 auto ;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.formRow {
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.avatar {
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: #DD55C0;
    font-weight: 600;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
}

.avatar > .avatar__image {
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
}

.formLogin {
    color: white;
    font-family: 'Poppins', sans-serif;
    width: fit-content;
    margin: 64px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 600;
}

.formLogin > .formLogin__input {
    display: flex;
    flex-direction: column;
}

.formLogin > .formLogin__input > input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    color: white;
    border: 2px solid #DD55C0;
    border-radius: 10px;
    background: none !important;
}

.formLogin > .formLogin__input > h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.formLogin > .formLogin__button {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 60px;
    cursor: pointer;
}

.formLogin > .formLogin__button > img {
    height: 100%;
}

.formLogin > .formLogin__title {
    font-size: 35px;
}

.formRegister > .formRegister__title {
    font-size: 35px;
}

.formRegister {
    color: white;
    font-family: 'Poppins', sans-serif;
    width: fit-content;
    margin: 64px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 600;
}

.formRegister > .formRegister__input > .mb-3 {
    display: flex;
    flex-direction: column;
}

.formRegister > .formRegister__input > .mb-3 > input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    color: white;
    border: 2px solid #DD55C0;
    border-radius: 10px;
    background: none !important;
}

.formRegister > .formLogin__formRegister > .mb-3 > label{
    font-size: 20px;
    margin-top: 10px;
}

.formRegister > .formRegister__button {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 60px;
    cursor: pointer;
}

.formRegister > .formRegister__button > img {
    height: 100%;
}

.formRegister > .mb-3 >.formRegister__title {
    font-size: 35px;
}

div.mb-3:nth-child(2) > label:nth-child(1) {
    margin-top: 10px;
}

.statsAccueil {
    display: flex;
    width: 80%;
    margin: 32px auto;
    justify-content: space-between;
    padding: 16px;
    color: white;
    border: 2px solid #DD55C0;
    border-radius: 10px;
    height: 46px;
}

.statsItem {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.statsContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}

.statsTitle {
    font-size: 12px;
    font-weight: 300;
}

.onglets {

    display: flex;
    gap: 16px;
}

.onglet {
    padding: 7px 11px;
    border: 1px solid #DD55C0;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    display: flex;

}

.onglet:hover {
    padding: 5px 9px;
    border: 3px solid #DD55C0;
    border-bottom: 0;
}

.onglet__type{
    color: #DD55C0;
    font-weight: bold;
    flex-shrink: 0;
}
.onglet__name {
    color: white;
    font-weight: normal;
}

.formArticle {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 64px auto 0 auto ;
    gap: 8px;
    color: white;
}

.formArticle > .formArticle__input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    color: white;
    border: 2px solid #DD55C0;
    border-radius: 10px;
    background: none !important;
}

.formArticle > .formArticle__button {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}