<ul class="onglets">
    {% for session in sessions %}
        {% if (app.user in session.utilisateurs) %}
            <li class="onglet">
                <a href="{{ path("session", { 'id': session.id}) }}" class="onglet__type">{{ session.type.name }} : <span class="onglet__name">{{ session.idCreator.username }}</span></a>
            </li>
        {% endif %}
    {% endfor %}
</ul>


