{% extends 'base.html.twig' %}

{% block body %}
    <div class="articlesHeader">
        <div class="articles__title">
            <img src="{{ asset('img/actu.svg') }}">
            <h1>Actus</h1>
        </div>
        {% if (app.user and 'ROLE_ADMIN' in app.user.roles) %}
            <a class="addArticles" a href="/articles/add"><img src="{{ asset('img/plus.svg') }}"></a>
        {% endif %}
    </div>
    <section class="articles">
        {% for article in articles %}
            <article class="article">
                <img class="article__img" src="{{ article.img }}">
                <div class="article__text">
                    <p>{{ article.title }}</p>
                    <a href="{{ article.id }}">En voir plus</a>
                </div>
                {% if (app.user and 'ROLE_ADMIN' in app.user.roles) %}
                    <div class="rond_poubelle">
                        <a href="{{ path("delete_article", { 'id': article.id}) }}"><img src="{{ asset('/img/poubelle.svg') }}" alt=""></a>
                    </div>
                {% endif %}
            </article>
        {% endfor %}
    </section>
{% endblock %}
